@use "global" as *;

.layout-event {
  padding-top: rem(32);
  padding-bottom: rem(32);
  background-color: $bg-lightbeige;
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(60);
  }
}
