@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1280px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font: "Noto Sans JP", sans-serif;
$second-font: "Jost", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #333;
$white: #fff;
$red: #c2272d;
$blue: #135589;
$darkblue: #043c68;
$lightblue: #9cc8eb;
$yellow: #c9b772;
$ocher: #9e800e;
$gray: #707070;
$lightgray: #f9f9f9;
$offwhite: #f6f1ea;
$beige: #b3a696;
$bg-beige: #b4a696;
$bg-ocher: #c9b772;
$bg-lightgray: #e9e9e9;
$bg-lightgray2: #f7f7f7;
$bg-ivory: #f9f8f1;
$bg-lightbeige: #e3ded8;
$bg-offwhite: #fffff9;

// z-index
$cta: 1000;
$hamburger: 999;
$header: 900;
$drawer: 800;

body {
  font-family: $base-font;
  font-optical-sizing: auto;
  color: $black;
}

body.is-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  overflow: hidden;
}
