@use "global" as *;

.button-arrow {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: rem(17);
  font-weight: $semi-bold;
  line-height: 1;
  color: $ocher;
  padding-right: rem(34);
  @include mq("md") {
    font-size: clamp(10px, calc(17 / 1400 * 100vw), rem(17));
  }
}

.button-arrow::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: rem(21);
  height: rem(24);
  background-image: url("./../images/icon-arrow-blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.button-arrow--white,
.button-arrow--white-small {
  @extend .button-arrow;
  background-color: $white;
  max-width: rem(300);
  width: 100%;
  padding-top: rem(11);
  padding-bottom: rem(13);
  padding-inline: rem(28);
  border-radius: 44px;
  font-size: rem(15);
  font-weight: $bold;
  border: 3px solid $offwhite;
  transition:
    background-color 0.3s,
    color 0.3s;
  overflow-wrap: anywhere;
  word-break: keep-all;
  @include mq("md") {
    max-width: rem(326);
    padding-top: rem(23);
    padding-bottom: rem(22);
    padding-left: rem(20);
    padding-right: rem(41);
    display: inline-block;
    text-align: center;
  }
}

.button-arrow--white-small {
  @include mq("md") {
    font-size: clamp(9px, calc(17 / 1400 * 100vw), rem(17));
  }
}

.button-arrow--white::after,
.button-arrow--white-small::after {
  right: rem(15);
  width: rem(16);
  height: rem(14);
  @include mq("md") {
    right: rem(20);
    width: rem(24);
    height: rem(21);
  }
}

.button-arrow--white span {
  display: inline-block;
}

.button-arrow--white.is-current {
  background-color: $gray;
  color: $yellow;
}

@media (any-hover: hover) {
  .button-arrow--white:hover {
    background-color: $yellow;
    color: $white;
    opacity: 1;
  }
}
