@use "global" as *;

.contact {
  background-image: linear-gradient(to top, $white calc(90 / 209 * 100%), transparent calc(90 / 209 * 100%));
}

.contact__inner.inner {
}

.contact__container {
}

.contact__head {
  text-align: center;
}

.contact__buttons {
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);
  @include mq("md") {
    margin-top: rem(40);
    flex-direction: initial;
    gap: rem(40);
    justify-content: center;
  }
}

.contact__button {
  width: rem(345);
  @include mq("md") {
    width: rem(513);
  }
}

@media (any-hover: hover) {
  .contact__button a:hover {
    opacity: 1;
  }
}
