@use "global" as *;

.course-item {
  display: block;
  padding: rem(15);
  background-color: $white;
  filter: drop-shadow(0 0 15px #0000000d);
  @include mq("md") {
    padding: rem(25) rem(30);
    transition: background-color 0.3s;
  }
}

.course-item__head {
  padding-bottom: rem(20);
  border-bottom: 2px solid $yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    justify-content: space-between;
    padding-bottom: rem(17);
  }
}

.course-item__title {
  font-size: rem(19);
  font-weight: $bold;
  line-height: 1;
}

.course-item__capacity-wrap {
  margin-top: rem(12);
  display: flex;
  align-items: center;
  gap: rem(8);
  font-size: rem(13);
  color: $gray;
  line-height: 1;
  @include mq("md") {
    margin-top: 0;
    font-size: clamp(10px, calc(14 / 1400 * 100%), rem(14));
  }
}

.course-item__capacity-tag {
  font-weight: $medium;
  background-color: $lightgray;
  padding: rem(7) rem(12);
  @include mq("md") {
    padding-top: rem(8);
    padding-bottom: rem(10);
    padding-inline: rem(10);
  }
}

.course-item__capacity-num {
}

.course-item__body {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(22);
    display: flex;
    gap: rem(20);
  }
}

.course-item__img {
  width: rem(214);
  margin-inline: auto;
  @include mq("md") {
    width: calc(182 / 942 * 100%);
  }
}

.course-item__img img {
  aspect-ratio: 214/149;
  width: 100%;
  height: auto;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 182/127;
  }
}

.course-item__description {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    flex: 1;
    line-height: 1;
  }
}

.course-item__description-skills {
}

.course-item__description-head {
  position: relative;
  font-size: rem(15);
  font-weight: $bold;
  color: $ocher;
  line-height: 1;
  padding-left: rem(17);
  display: inline-flex;
  align-items: center;
  @include mq("md") {
    font-size: clamp(10px, calc(15 / 1400 * 100%), rem(15));
  }
}

.course-item__description-head::before {
  content: "";
  position: absolute;
  left: 0;
  width: rem(10);
  aspect-ratio: 1;
  background-color: $ocher;
}

.course-item__description-skill-wrap {
  margin-top: rem(10);
  display: flex;
  flex-wrap: wrap;
  column-gap: rem(10);
  row-gap: rem(8);
  @include mq("md") {
    margin-top: rem(12);
  }
}

.course-item__description-skill {
  font-size: 10px;
  font-weight: $bold;
  color: $white;
  line-height: 1;
  background-color: $yellow;
  border-radius: rem(14);
  padding: rem(6) rem(14) rem(7);
  @include mq("md") {
    font-size: rem(13);
  }
}

.course-item__description-text {
  margin-top: rem(20);
  font-size: rem(14);
  line-height: calc(23 / 14);
  @include mq("md") {
    font-size: clamp(10px, calc(14 / 1400 * 100%), rem(14));
  }
}

.course-item__foot {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(20);
    display: flex;
    justify-content: space-between;
  }
}

.course-item__foot-list {
  @include mq("md") {
    display: flex;
    gap: rem(20);
    padding-left: rem(4);
  }
}

.course-item__foot-item {
  font-size: rem(14);
  line-height: calc(23 / 14);
  padding-left: rem(11);
  position: relative;
  @include mq("md") {
    font-size: clamp(10px, calc(14 / 1400 * 100%), rem(14));
  }
}

.course-item__foot-item::before {
  content: "";
  position: absolute;
  top: rem(10);
  left: 0;
  width: rem(5);
  aspect-ratio: 1;
  background-color: $ocher;
  border-radius: 50%;
}

.course-item__foot-button {
  margin-top: rem(15);
  text-align: right;
  @include mq("md") {
    margin-top: 0;
  }
}

.course-item--blue {
  @extend .course-item;
}

.course-item--blue .course-item__head {
  border-bottom-color: rgba($blue, 0.4);
}

.course-item--blue .course-item__description-head {
  color: $blue;
}

.course-item--blue .course-item__description-head::before {
  background-color: $blue;
}

.course-item--blue .course-item__description-skill {
  background-color: $blue;
}

.course-item--blue .course-item__foot-item::before {
  background-color: $blue;
}

@media (any-hover: hover) {
  .course-item:hover {
    background-color: $bg-offwhite;
  }

  .course-item:hover .course-item__foot-button a {
    opacity: 1;
  }
}
