@use "global" as *;

.course-head {
  display: inline-block;
  position: relative;
  font-size: rem(17);
  font-weight: $bold;
  line-height: 1;
  padding-bottom: rem(8);
  @include mq("md") {
    font-size: rem(22);
    padding-bottom: rem(16);
  }
}

.course-head::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(4);
  background-image: linear-gradient(to right, $yellow 40%, transparent 40%);
  @include mq("md") {
    height: rem(6);
  }
}
