@use "global" as *;

.curriculum-table {
  border-collapse: collapse;
  width: max-content;
  @include mq("md") {
    width: 100%;
  }
}

.curriculum-table th,
.curriculum-table td {
  border: 1px solid $table-border;
  padding-top: rem(12);
  padding-bottom: rem(13);
  text-align: center;
  @include mq("md") {
    padding-top: rem(14);
    padding-bottom: rem(15);
  }
}

.curriculum-table td:first-child {
  background-color: $table-bg;
}

.curriculum-table thead {
  background-color: $ocher;
  font-size: rem(15);
  font-weight: $bold;
  color: $white;
  line-height: 1;
  @include mq("md") {
    font-size: clamp(12px, calc(15 / 1400 * 100vw), 15px);
  }
}

.curriculum-table th:nth-child(1),
.curriculum-table td:nth-child(1) {
  width: rem(37);
  @include mq("md") {
    width: calc(54 / 904 * 100%);
  }
}

.curriculum-table th:nth-child(2),
.curriculum-table td:nth-child(2) {
  // width: rem(136);
  width: rem(170);
  padding-inline: rem(10);
  @include mq("md") {
    width: calc(192 / 904 * 100%);
    padding-inline: rem(14);
  }
}

.curriculum-table td:nth-child(2) {
  font-feature-settings: "palt";
  text-align: left;
}

.curriculum-table th:nth-child(3),
.curriculum-table td:nth-child(3) {
  width: rem(70);
  @include mq("md") {
    width: calc(95 / 904 * 100%);
    overflow-wrap: anywhere;
    word-break: keep-all;
    font-feature-settings: "palt";
  }
}

.curriculum-table th:nth-child(4),
.curriculum-table td:nth-child(4) {
  width: rem(428);
  padding-inline: rem(16);
  text-align: justify;
  @include mq("md") {
    width: 100%;
    padding-inline: rem(24);
  }
}

.curriculum-table td:nth-child(1),
.curriculum-table td:nth-child(4) {
  font-size: rem(13);
  line-height: calc(19 / 13);
  @include mq("md") {
    font-size: clamp(12px, calc(15 / 1400 * 100vw), 15px);
    line-height: calc(21 / 15);
  }
}

.curriculum-table td:nth-child(2),
.curriculum-table td:nth-child(3) {
  font-size: rem(15);
  line-height: calc(21 / 15);
  @include mq("md") {
    font-size: clamp(12px, calc(15 / 1400 * 100vw), 15px);
  }
}

.curriculum-table td:nth-child(3) span,
.curriculum-table td:nth-child(4) span {
  margin-top: rem(12);
  display: inline-block;
}

.curriculum-table--medical {
  @extend .curriculum-table;
}

.curriculum-table--medical th:nth-child(1),
.curriculum-table--medical td:nth-child(1) {
  width: rem(82);
  overflow-wrap: anywhere;
  word-break: keep-all;
  @include mq("md") {
    width: 15%;
  }
}

.curriculum-table--medical th:nth-child(2),
.curriculum-table--medical td:nth-child(2) {
  width: rem(144);
  @include mq("md") {
    width: calc(192 / 904 * 100%);
  }
}

.curriculum-table--medical th:nth-child(3),
.curriculum-table--medical td:nth-child(3) {
  width: rem(94);
  overflow-wrap: anywhere;
  word-break: keep-all;
  font-feature-settings: "palt";
  @include mq("md") {
    width: calc(95 / 904 * 100%);
  }
}
