@use "global" as *;

.detail {
  position: relative;
  background-color: rgba($beige, 0.37);
}

.detail::before,
.detail::after {
  content: "";
  position: absolute;
  top: 0;
}

.detail::before {
  right: 0;
  width: 93%;
  height: rem(158);
  background-color: $bg-ocher;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
  @include mq("md") {
    width: 100%;
    height: rem(167);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 20%);
  }
}

.detail::after {
  inset-inline: 0;
  height: rem(200);
  background-color: $bg-beige;
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
  @include mq("md") {
    height: rem(342);
  }
}

.detail__inner.inner--small {
  position: relative;
  z-index: 1;
}

.detail__container {
}

.detail__heading {
  @include mq("md") {
    display: flex;
    gap: rem(48);
    align-items: center;
  }
}

.detail__head {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

.detail__text {
  margin-top: rem(32);
  font-size: rem(15);
  font-weight: $semi-bold;
  color: $white;
  line-height: calc(23 / 15);
  text-align: center;
  overflow-wrap: anywhere;
  word-break: keep-all;
  @include mq("md") {
    margin-top: 0;
    text-align: left;
    font-size: rem(17);
  }
}

.detail__content {
  margin-top: rem(32);
  background-color: $white;
  border-radius: 10px;
  padding-top: rem(26);
  padding-inline: rem(14);
  padding-bottom: rem(20);
  @include mq("md") {
    margin-top: rem(48);
    border-radius: 20px;
    padding-block: rem(50);
    padding-inline: rem(48);
  }
}

.detail__content + .detail__content {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(50);
  }
}

.detail__content-head {
  text-align: center;
}

.detail__content-list {
  margin-top: rem(30);
  display: grid;
  gap: rem(20);
  @include mq("md") {
    margin-top: rem(40);
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(30);
    row-gap: rem(28);
  }
}

.detail__content-item + .detail__content-item {
}

.detail__skill-list {
  margin-top: rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(6);
  @include mq("md") {
    margin-top: rem(40);
    flex-direction: initial;
    flex-wrap: wrap;
    gap: rem(13);
    justify-content: center;
  }
}

.detail__skill-item {
  max-width: rem(310);
  width: 100%;
  @include mq("md") {
    max-width: 318px;
  }
}

.detail__content-text {
  margin-top: rem(32);
  font-size: rem(13);
  line-height: 1;
  text-align: center;
  @include mq("md") {
    display: none;
  }
}

.detail__content-body {
  margin-top: rem(10);
  overflow-x: auto;
  scrollbar-width: none;
  @include mq("md") {
    margin-top: rem(40);
    overflow-x: initial;
  }
}

.detail__content-body::-webkit-scrollbar {
  display: none;
}
