@use "global" as *;

.faq-item + .faq-item {
  margin-top: rem(30);
}

.faq-item__question {
  position: relative;
  font-size: rem(15);
  font-weight: $bold;
  line-height: calc(21 / 15);
  padding-inline: rem(29);
  padding-bottom: rem(20);
  text-indent: rem(-29);
  border-bottom: 1px solid $yellow;
  text-align: justify;
  cursor: pointer;
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(26 / 18);
    padding-right: rem(50);
    padding-left: rem(39);
    text-indent: rem(-39);
  }
}

.faq-item__question::marker {
  display: none;
}

.faq-item__question::first-letter {
  font-size: rem(29);
  font-weight: $medium;
  font-family: $second-font;
  font-style: italic;
  color: $yellow;
  line-height: 1;
  @include mq("md") {
    font-size: rem(31);
  }
}

.faq-item__question span {
  position: relative;
  top: rem(-3);
  margin-left: rem(6);
  @include mq("md") {
    margin-left: rem(12);
  }
}

.faq-item__question::before,
.faq-item__question::after {
  content: "";
  position: absolute;
  right: 0;
  top: rem(2);
  width: rem(26);
  height: rem(26);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity 0.3s;
  @include mq("md") {
    width: rem(39);
    height: rem(39);
  }
}

.faq-item__question::before {
  background-image: url(../../assets/images/icon-plus.svg);
  opacity: 1;
}

.faq-item__question::after {
  background-image: url(../../assets/images/icon-minus.svg);
  opacity: 0;
}

.faq-item__question.is-open::before {
  opacity: 0;
}

.faq-item__question.is-open::after {
  opacity: 1;
}

.faq-item__answer {
  margin-top: rem(10);
  display: none;
  @include mq("md") {
    margin-top: rem(12);
  }
}

.faq-item:first-child .faq-item__answer {
  display: block;
}

.faq-item__text {
  font-size: rem(14);
  line-height: calc(30 / 14);
  text-indent: -1em;
  padding-left: 1em;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(30 / 16);
  }
}

.faq-item__note {
  margin-top: rem(2);
}
