@use "global" as *;

.faq-item + .faq-item {
  margin-top: rem(30);
}

.faq-item__question {
  position: relative;
  font-size: rem(15);
  font-weight: $bold;
  line-height: calc(21 / 15);
  padding-inline: rem(29);
  padding-bottom: rem(24);
  border-bottom: 1px solid $yellow;
  text-align: justify;
  cursor: pointer;
  @include mq("md") {
    font-size: rem(18);
    line-height: calc(26 / 18);
    padding-right: rem(50);
    padding-left: rem(39);
  }
}

.faq-item__question::before {
  content: "Q";
  position: absolute;
  top: rem(-2);
  left: 0;
  font-size: rem(29);
  font-weight: $medium;
  font-family: $second-font;
  font-style: italic;
  color: $yellow;
  line-height: 1;
  @include mq(md) {
    font-size: rem(31);
    top: 0;
  }
}

.faq-item__question::after {
  content: "";
  position: absolute;
  top: rem(-3);
  right: 0;
  width: rem(26);
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: 0.3s;
  transform: rotate(90deg);
  background-image: url("../../assets/images/icon-plus.svg");
  transition:
    background-image 0.3s,
    transform 0.3s;
  @include mq("md") {
    width: rem(39);
  }
}

.faq-item__question.is-open::after {
  transform: rotate(0deg);
  background-image: url("../../assets/images/icon-minus.svg");
}

.faq-item__answer {
  margin-top: rem(10);
  display: none;
  @include mq("md") {
    margin-top: rem(12);
  }
}

.faq-item__list {
}

.faq-item__list-item {
  font-size: rem(14);
  line-height: calc(30 / 14);
  text-indent: -1em;
  padding-left: 1em;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(30 / 16);
  }
}

.faq-item:first-child .faq-item__answer {
  display: block;
}

.faq-item__text {
  font-size: rem(14);
  line-height: calc(30 / 14);
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(30 / 16);
  }
}

.faq-item__text span,
.faq-item__note span {
  color: $red;
}

.faq-item__note {
  margin-top: rem(2);
}
