@use "global" as *;

.faq {
  background-image: linear-gradient(to bottom, $white 62%, transparent 62%);
}

.faq__inner.inner {
  @include mq("md") {
    max-width: 1050px;
  }
}

.faq__head {
  text-align: center;
}

.faq__list {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(48);
  }
}

.faq__item {
}
