@use "global" as *;

.fixed {
  position: fixed;
  bottom: 0;
  inset-inline: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: rem(16);
  padding-right: rem(5);
  z-index: $cta;
  @include mq("md") {
    left: initial;
    writing-mode: vertical-rl;
    padding-right: rem(10);
    gap: rem(9);
    width: fit-content;
    align-items: center;
  }
}

.fixed__button {
  max-width: rem(318);
  width: 100%;
  @include mq("md") {
    max-width: initial;
  }
}

.fixed__button a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: rem(14);
  font-weight: $semi-bold;
  color: $white;
  line-height: 1;
  background-color: $red;
  border-radius: rem(10) rem(10) 0 0;
  height: rem(36);
  @include mq("md") {
    height: fit-content;
    padding-top: rem(14);
    padding-right: rem(13);
    padding-bottom: rem(13);
    padding-left: rem(14);
    border-radius: rem(10);
    transition: background-color 0.3s;
  }
}

.fixed__button span {
  position: relative;
  padding-right: rem(27);
  display: grid;
  justify-content: center;
  @include mq("md") {
    padding-right: 0;
    padding-bottom: rem(32);
    justify-content: initial;
    align-items: center;
    letter-spacing: 0.2em;
  }
}

.fixed__button span::after {
  content: "";
  position: absolute;
  right: 0;
  width: rem(19);
  height: rem(19);
  background-image: url("../../assets/images/icon-pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include mq("md") {
    right: initial;
    bottom: 0;
  }
}

.fixed__totop {
  display: inline-block;
  width: rem(36);
  @include mq("md") {
    width: rem(50);
  }
}

.fixed__totop img {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (any-hover: hover) {
  .fixed__button a:hover {
    background-color: $blue;
    opacity: 1;
  }
}
