@use "global" as *;

.flow-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.flow-item--corporation {
  @extend .flow-item;
}

.flow-item__head {
  @include mq("md") {
    width: 100%;
  }
}

.flow-item__img {
  margin-top: rem(6);
  max-width: rem(300);
}

.flow-item__img img {
  aspect-ratio: 300/258;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 rem(50) 0 rem(50);
}

.flow-item__title {
  margin-top: rem(25);
  font-size: rem(18);
  font-weight: $bold;
  line-height: 1;
  color: $blue;
}

.flow-item__text {
  margin-top: rem(20);
  flex-grow: 1;
}

.flow-item__main-text {
  font-size: rem(14);
  color: $black2;
  line-height: 1.7;
  text-align: justify;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(30 / 16);
  }
}

.flow-item__note {
  margin-top: rem(4);
  font-size: rem(13);
  color: $gray;
  line-height: 1.8;
  padding-left: 1em;
  text-indent: -1em;
  @include mq("md") {
    font-size: clamp(10px, calc(13 / 1400 * 100vw), 13px);
    line-height: calc(30 / 13);
  }
}
