@use "global" as *;

.footer {
  position: relative;
  background-color: $bg-beige;
}

.footer::before,
.footer::after {
  content: "";
  position: absolute;
  top: rem(-87);
  @include mq("md") {
    top: rem(-127);
  }
}

.footer::before {
  right: 0;
  width: calc(260 / 375 * 100%);
  height: rem(87);
  background-color: $bg-ocher;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  @include mq("md") {
    width: 58%;
    height: rem(128);
  }
}

.footer::after {
  left: 0;
  width: 100%;
  height: rem(87);
  background-color: $bg-beige;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  @include mq("md") {
    width: calc(1100 / 1400 * 100%);
    height: rem(128);
  }
}

.footer__inner.inner {
  @include mq("md") {
    max-width: 1050px;
  }
}

.footer__container {
  color: $white;
  padding-bottom: rem(30);
  @include mq("md") {
    padding-top: rem(24);
    display: flex;
    gap: rem(45);
  }
}

.footer__info {
  @include mq("md") {
    flex: 1;
  }
}

.footer__title {
  font-size: rem(17);
  font-weight: $semi-bold;
  line-height: calc(30 / 17);
}

.footer__contact {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.footer__contact-head {
  font-size: rem(17);
  font-weight: $bold;
  line-height: 1;
}

.footer__contact-list {
  margin-top: rem(20);
}

.footer__contact-wrap {
  display: flex;
}

.footer__contact-term,
.footer__contact-description {
  font-size: rem(13);
  line-height: 1;
  padding-bottom: rem(16);
  @include mq("md") {
    font-size: rem(15);
    padding-bottom: rem(14);
  }
}

.footer__contact-term {
  width: calc(66 / 345 * 100%);
  font-weight: $semi-bold;
  @include mq("md") {
    width: calc(73 / 486 * 100%);
  }
}

.footer__contact-description {
  flex: 1;
  font-weight: $medium;
  border-left: 1px solid $white;
  padding-left: rem(12);
}

.footer__contact-description span {
  display: inline-block;
}

.footer__contact-term--large {
  @extend .footer__contact-term;
  padding-bottom: 0;
  @include mq("md") {
    padding-bottom: 0;
  }
}

.footer__contact-description--large {
  @extend .footer__contact-description;
  line-height: calc(30 / 13);
  margin-top: rem(-8);
  padding-bottom: 0;
  @include mq("md") {
    line-height: 2;
    padding-bottom: 0;
  }
}

.footer__reception {
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.footer__navigations {
  margin-top: rem(32);
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    margin-top: 0;
    width: calc(468 / 1000 * 100%);
    align-items: flex-start;
  }
}

.footer__nav-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    gap: rem(50);
    justify-content: center;
    align-items: flex-start;
  }
}

.footer__banners {
  display: grid;
  width: calc(320 / 345 * 100%);
  grid-template-columns: repeat(3, 1fr);
  gap: rem(5);
  @include mq("md") {
    grid-template-columns: initial;
    gap: rem(10);
    width: calc(155 / 468 * 100%);
  }
}

.footer__banner {
}

.footer__banner img {
  aspect-ratio: 155/54;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__nav {
  margin-top: rem(32);
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  column-gap: rem(24);
  row-gap: rem(10);
  width: fit-content;
  @include mq("md") {
    margin-top: 0;
    flex: 1;
    padding-top: rem(5);
    row-gap: rem(20);
  }
}

.footer__nav-item {
}

.footer__nav-item a {
  display: inline-block;
  position: relative;
  padding-left: rem(20);
  font-size: rem(15);
  font-weight: $medium;
  line-height: 1;
}

.footer__nav-item a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: rem(10);
  height: rem(10);
  transform: translateY(-50%);
  background-image: url("../../assets/images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: brightness(0) invert(1);
  @include mq("md") {
    top: 55%;
  }
}

.footer__app-block {
  margin-top: rem(32);
  background-color: $white;
  border-radius: rem(10);
  padding: rem(30);
  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(16);
    max-width: rem(468);
  }
}

.footer__app-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: initial;
    gap: rem(22);
  }
}

.footer__app-img {
  display: inline-block;
  margin-top: rem(10);
  width: rem(142);
  order: 2;
  @include mq("md") {
    order: revert;
    margin-top: 0;
  }
}

.footer__app-img img {
  aspect-ratio: 142/46;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__app-wrap {
  display: contents;
  @include mq("md") {
    display: block;
    flex: 1;
  }
}

.footer__app-read,
.footer__app-text {
  font-size: rem(14);
  color: $black;
  line-height: calc(20 / 14);
}

.footer__app-read {
  font-weight: $bold;
  text-align: center;
  order: 1;
  @include mq("md") {
    text-align: left;
    order: revert;
  }
}

.footer__app-text {
  margin-top: rem(16);
  max-width: calc(262 / 285 * 100%);
  order: 3;
  @include mq("md") {
    max-width: 100%;
    order: revert;
  }
}

.footer__app-text span {
  display: inline-block;
}

.footer__app-bottom {
  margin-top: rem(16);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(16);
  @include mq("md") {
    grid-template-columns: repeat(2, minmax(0, rem(137)));
    justify-content: center;
    gap: rem(30);
  }
}

.footer__app-link {
  display: inline-block;
}

.footer__app-link img {
  aspect-ratio: 137/41;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__copyright {
  background-color: $white;
  display: grid;
  place-items: center;
  padding-top: rem(13);
  padding-bottom: rem(52);
  @include mq("md") {
    height: rem(90);
    padding-bottom: rem(13);
  }
}

.footer__copyright small {
  font-size: 14px;
  color: $black;
  line-height: 1;
}

@media (any-hover: hover) {
  .footer__nav-item a:hover {
  }
}
