@use "global" as *;

.fv {
  position: relative;
  background-color: $white;
}

.fv::before {
  content: "";
  position: absolute;
  top: 0;
  inset-inline: 0;
  height: max(calc(145 / 375 * 100vw), rem(149));
  background-color: $bg-ocher;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  @include mq("md") {
    left: initial;
    width: calc(1064 / 1400 * 100%);
    height: max(calc(226 / 1400 * 100vw), rem(226));
  }
}

.fv::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(208 / 375 * 100%);
  height: max(calc(145 / 375 * 100vw), rem(149));
  background-color: $bg-beige;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  @include mq("md") {
    width: calc(590 / 1400 * 100%);
    height: max(calc(226 / 1400 * 100vw), rem(226));
  }
}

.fv__inner.inner {
  position: relative;
  z-index: 1;
}

.fv__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: revert;
    gap: rem(60);
    align-items: flex-end;
  }
}

.fv__main {
  @include mq("md") {
    flex: 1;
  }
}

.fv__read {
  width: rem(308);
  @include mq("md") {
    max-width: rem(714);
    width: 100%;
  }
}

.fv__read img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include mq("md") {
  }
}

.fv__title {
  margin-top: rem(16);
  width: rem(342);
  @include mq("md") {
    margin-top: rem(10);
    width: 100%;
  }
}

.fv__title img {
  width: 100%;
  height: auto;
  object-fit: contain;
  @include mq("md") {
  }
}

.fv__sub {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    padding-bottom: rem(10);
    width: calc(506 / 1280 * 100%);
    width: min(calc(506 / 1280 * 100vw), 506px);
  }
}

.fv__point-list {
  @include mq("md") {
    display: grid;
    justify-content: center;
  }
}

.fv__point-item {
  position: relative;
  padding: rem(16) rem(21);
  font-size: rem(19);
  font-weight: $bold;
  line-height: 1;
  background-color: $white;
  filter: drop-shadow(0 0 6px #00000030);
  text-align: center;
  @include mq("md") {
    font-size: rem(25);
    padding: rem(14) rem(28);
    // max-width: rem(447);
    text-align: left;
  }
}

.fv__point-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: rem(5);
  transform: translateY(-50%);
  width: rem(7);
  height: calc(43 / 51 * 100%);
  background-color: $red;
}

.fv__point-item:not(:first-child) {
  margin-top: rem(14);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.fv__point-item:not(:first-child)::after {
  content: "";
  position: absolute;
  top: rem(-20);
  left: 50%;
  transform: translateX(-50%);
  width: rem(31);
  aspect-ratio: 1;
  background-image: url(../../assets/images/icon-plus-blue.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @include mq("md") {
    top: rem(-24);
  }
}

.fv__feature-list {
  margin-top: rem(20);
  display: grid;
  grid-template-columns: repeat(3, rem(104));
  gap: rem(15);
  @include mq("md") {
    margin-top: rem(32);
    grid-template-columns: repeat(3, 1fr);
  }
}

.fv__feature-item {
  display: inline-block;
  border: 2px solid $red;
  border-radius: rem(10);
  padding-top: rem(15);
  padding-bottom: rem(16);
  text-align: center;
  @include mq("md") {
    padding-top: rem(8);
    padding-bottom: rem(10);
  }
}

.fv__feature-item-top {
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(18 / 14);
  @include mq("md") {
    font-size: rem(13);
    line-height: calc(19 / 13);
  }
}

.fv__feature-item-bottom {
  margin-top: rem(4);
  font-size: rem(22);
  font-weight: $extra-bold;
  color: $red;
  line-height: 1;
  @include mq("md") {
    margin-top: rem(2);
    font-size: rem(20);
  }
}

.fv__feature-item--delta {
  @extend .fv__feature-item;
}

.fv__feature-item--delta .fv__feature-item-top {
  letter-spacing: -0.03em;
}

.fv__img {
  @include mq("md") {
    margin-top: rem(-8);
    position: relative;
    z-index: 1;
    display: grid;
    justify-content: center;
    padding-left: rem(76);
  }
}

.fv__img::before {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: calc(342 / 411 * 100%);
    background-color: $bg-beige;
    clip-path: polygon(0 85%, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
  }
}

.fv__img img {
  aspect-ratio: 750/414;
  width: rem(1260);
  height: auto;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 2519/822;
    object-position: bottom;
  }
}

.fv__banner {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: rem(222);
  @include mq("md") {
    bottom: rem(44);
    width: rem(460);
  }
}

.fv__banner img {
  aspect-ratio: 230/79;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
