@use "global" as *;

.head {
  display: inline-block;
  position: relative;
  font-size: rem(17);
  font-weight: $bold;
  line-height: 1;
  padding-bottom: rem(15);
  @include mq("md") {
    font-size: rem(22);
    padding-bottom: rem(25);
  }
}

.head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: rem(53);
  height: rem(4);
  background-color: $yellow;
  @include mq("md") {
    height: rem(6);
  }
}

.head--blue,
.head--center {
  @extend .head;
}

.head--center {
  @include mq("md") {
    font-size: rem(25);
    padding-bottom: rem(20);
  }
}

.head--blue::after {
  background-color: $blue;
}

.head--center::after {
  left: 50%;
  transform: translateX(-50%);
  background-color: $bg-ocher;
}
