@use "global" as *;

.interview-item {
}

.interview-item__head {
}

.interview-item__top {
  margin-top: rem(10);
  display: flex;
  gap: rem(18);
  align-items: center;
  @include mq("md") {
    display: revert;
    gap: rem(20);
  }
}

.interview-item__img {
  width: rem(104);
  @include mq("md") {
    width: 100%;
  }
}

.interview-item__img img {
  border-radius: 0 rem(20) 0 rem(20);
  aspect-ratio: 104/110;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 310/327;
  }
}

.interview-item__names {
  display: flex;
  gap: rem(16);
  align-items: center;
  @include mq("md") {
    margin-top: rem(20);
    gap: rem(20);
    justify-content: center;
  }
}

.interview-item__name {
  font-size: rem(22);
  color: $blue;
  line-height: 1;
  @include mq("md") {
    font-size: rem(32);
  }
}

.interview-item__en {
  display: inline-block;
  line-height: 1;
  font-weight: $bold;
  font-family: $second-font;
  font-style: italic;
  letter-spacing: -0.25em;
}

.interview-item__ja {
  margin-left: 0.3em;
  font-size: rem(16);
  font-weight: $bold;
  @include mq("md") {
    font-size: rem(23);
  }
}

.interview-item__sex {
  position: relative;
  top: 2px;
  font-size: 9px;
  font-weight: $medium;
  color: $blue;
  line-height: 1;
  border: 1px solid $blue;
  padding: rem(3) rem(6);
  @include mq("md") {
    font-size: rem(14);
    padding-bottom: rem(5);
  }
}

.interview-item__body {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: rem(20);
  }
}

.interview-item__courses {
  display: flex;
  gap: rem(15);
  font-size: rem(14);
  color: $gray;
  line-height: calc(20 / 14);
  @include mq("md") {
    font-size: clamp(10px, calc(14 / 1400 * 100vw), rem(14));
  }
}

.interview-item__course {
  font-weight: $medium;
}

.interview-item__class {
  padding-left: rem(15);
  border-left: 1px solid $yellow;
}

.interview-item__text {
  margin-top: rem(20);
  @include mq("md") {
    font-feature-settings: "palt";
  }
}

.interview-item__button {
  margin-top: rem(20);
  text-align: right;
}

@media (any-hover: hover) {
  .interview-item:hover {
  }

  .interview-item:hover .interview-item__button a {
  }
}
