@use "global" as *;

.item-head {
  font-size: rem(14);
  font-weight: $medium;
  font-family: $second-font;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  @include mq("md") {
    font-size: clamp(10px, calc(14 / 1400 * 100vw), rem(14));
  }
}

.item-head--lightblue {
  @extend .item-head;
  color: $lightblue;
}
