@use "global" as *;

.point {
}

.point__inner.inner {
  @include mq("md") {
    max-width: 1352px;
  }
}

.point__container {
}

.point__head {
  text-align: center;
}

.point__list {
  margin-top: rem(15);
  margin-inline: auto;
  max-width: rem(400);
  @include mq("md") {
    margin-top: rem(40);
    max-width: revert;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.point__item {
}

.point__item:not(:first-child) {
  @include mq("md") {
    border-left: 1px solid $yellow;
  }
}
