@use "global" as *;

.recruit {
  overflow-x: clip;
  background-color: $white;
}

.recruit__inner.inner {
  @include mq("md") {
  }
}

.recruit__container {
  @include mq("md") {
    padding-top: rem(60);
    background-image: linear-gradient(to bottom, rgba($bg-ocher, 0.1) 70%, transparent 70%);
  }
}

.recruit__head {
  text-align: center;
}

.recruit__content {
  margin-top: rem(32);
  padding-top: rem(20);
  margin-inline: calc(50% - 50vw);
  padding-inline: calc(50vw - 50%);
  background-image: linear-gradient(
    to bottom,
    rgba($bg-ocher, 0.1) calc(347 / 1010 * 100%),
    transparent calc(347 / 1010 * 100%)
  );
  @include mq("md") {
    margin-top: rem(40);
    margin-inline: auto;
    padding-inline: rem(25);
    background-image: initial;
    max-width: 1050px;
    background-image: none;
  }
}

.recruit__read {
  font-size: rem(15);
  line-height: 2;
  @include mq("md") {
    font-size: clamp(10px, calc(15 / 1400 * 100%), rem(15));
  }
}

.recruit__note {
  margin-top: rem(16);
}

.recruit__list {
  margin-top: rem(20);
  background-color: $bg-ocher;
  border-radius: rem(20) 0 rem(20) 0;
  padding-top: rem(24);
  padding-inline: rem(16);
  padding-bottom: rem(56);
  @include mq("md") {
    margin-top: rem(40);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(65);
    row-gap: rem(32);
    border-radius: rem(30) 0 rem(30) 0;
    padding-top: rem(72);
    padding-inline: rem(55);
    padding-bottom: rem(90);
  }
}

.recruit__item {
}

.recruit__item + .recruit__item {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

.recruit__button {
  margin-top: rem(-38);
  text-align: center;
  @include mq("md") {
    margin-top: rem(-50);
  }
}
