@use "global" as *;

.section-head {
}

.section-head__main {
  font-size: rem(21);
  font-weight: $bold;
  color: $blue;
  line-height: 1;
  @include mq("md") {
    font-size: rem(38);
  }
}

.section-head__sub {
  font-size: rem(14);
  font-weight: $medium;
  font-family: $second-font;
  line-height: 1;
  font-style: italic;
  position: relative;
  padding-left: rem(28);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  @include mq("md") {
    margin-top: rem(23);
    padding-left: rem(42);
    font-size: rem(16);
  }
}

.section-head__sub::before {
  content: "";
  position: absolute;
  left: rem(-4);
  width: rem(20);
  height: rem(2);
  background-color: $yellow;
  text-transform: uppercase;
  transform: rotate(-45deg);
  @include mq("md") {
    width: rem(41);
  }
}

.section-head--white {
  @extend .section-head;
}

.section-head--white .section-head__main,
.section-head--white .section-head__sub {
  color: $white;
}

.section-head--white .section-head__sub::before {
  background-color: $white;
}
