@use "global" as *;

.fv__list-item {
  display: inline-block;
  border: 2px solid $red;
  border-radius: 10px;
  padding-top: rem(15);
  padding-inline: rem(8);
  padding-bottom: rem(15);
  text-align: center;
  @include mq("md") {
    padding-top: rem(8);
    padding-inline: rem(32);
    padding-bottom: rem(8);
  }
}

.fv__list-item-top {
  font-size: rem(14);
  font-weight: $bold;
  line-height: calc(18 / 14);
  @include mq("md") {
    font-size: rem(13);
    line-height: calc(19 / 13);
  }
}

.fv__list-item-bottom {
  margin-top: rem(4);
  font-size: rem(22);
  font-weight: $extra-bold;
  color: $red;
  line-height: 1;
  @include mq("md") {
    font-size: rem(20);
  }
}
